.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 33%;
  height: 33%;
  padding: .5em;
  border-radius: 15px;
  background: #f8f8f8;
}

.task-list {
    margin: .5em;
    padding: .5em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
}

.addTask{
  margin: 0.5em;;
  padding: .5em;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

/* Input 100% */
.addTaskForm{
  display: table;
}

.input-text-div{
  display: table-cell;
  width: 100%;

}

.input-text{
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #efefef;
  font-size: 20px;
}

.input-text:focus{
  outline-width: 0;
}

.addTaskButton {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  background-color: #2565AE;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 20px;


}
/* End Input 100% */

.task-div{
  border-bottom: 2px solid #d8d5d5;
  margin: 0 0.5em 1em 0.5em;
  padding: 0.5em;
  text-align: left;
  border-radius: 5px 5px 0 0;
  font-size: 20px;

}

.task-cbox{
  cursor: pointer; 
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 0.5em;

}

.task-label{
  cursor: pointer; 

}

.clearCompletedBtn {
  margin: 0.5em;
  padding: 0.5em 1.5em;
  border: none;
  background-color: #2565AE;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}
